---
layout: landing
---

<section id="banner">
  <div class="inner">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description | markdownify }}</p>
    <h3 id="countdown"></h3>
  </div>
  <a href="#details" class="more scrolly">Details</a>
</section>

<section id="details" class="wrapper style1 special">
  {% include sections/details.html %}
</section>

<section id="timeline" class="wrapper style2">
  {% include sections/timeline.html %}
</section>

<section id="qa" class="wrapper style3">
  {% include sections/qa.html %}
</section>
