<div class="inner">
  <header class="major">
    <h2>Q & A</h2>
    <dl>
      <dt>How do I RSVP?</dt>
      <dd>Email <a href="mailto:wedding@beckandjon.com">wedding@beckandjon.com</a></dd>
    </dl>
    <p>Have a question not answered here?</p>
    <form action="https://formspree.io/wedding@beckandjon.com"
          method="POST">
      <label>Name: <input type="text" name="name" required></label>
      <label>Your question: <textarea name="name" required></textarea></label>
      <label>Email: <input type="email" name="_replyto" required></label>
      <input type="submit" value="Send">
    </form>
  </header>
</div>
