<div class="inner">
  <header class="major">
    <h2>Q & A</h2>
    <dl>
      <dt>How do I RSVP?</dt>
      <dd>Email <a href="mailto:beckyabrey@hotmail.com">beckyabrey@hotmail.com</a></dd>
      <dt>Is there parking?</dt>
      <dd>There's a large field at the venue where parking is free. This will be clearly signposted.</dd>
      <dt>Is the venue accessible for wheelchairs/pushchairs?</dt>
      <dd>There are a couple of steps to enter the venue, and gravel outside which can be difficult for wheelchairs. A disabled toilet is available.</dd>
      <dt>What's the dress code?</dt>
      <dd>Your normal wedding attire. But please be comfortable. We would rather you join us to celebrate in a monkey onesie than sit in a suit you hate.</dd>
      <dt>What food will be available?</dt>
      <dd>We have the amazing <a href="http://www.mcfaddensbutchers.co.uk/" target="_blank">McFaddens Butchers</a> providing a large hog roast with all the trimmings. Please let us know if you are vegetarian or vegan and we will provide an alternative :)</dd>
      <dt>Can I bring children?</dt>
      <dd>Yes! Children are very welcome. We're hoping to have some child-friendly activities on the day.</dd>
      <dt>Can I take photos and upload to social media?</dt>
      <dd>Yes please! We'd love to see your photos from the day and will invite you to upload any pictures you take to a shared online library. If you share on social media, please tag us!</dd>
      <dt>Can I bring a "plus one"?</dt>
      <dd>We have put family or +1 on your invites, but if there is someone extra you'd like to bring, please <a href="mailto:beckyabrey@hotmail.com">email us</a> :)</dd>
    </dl>
    <p>Have a question not answered here?</p>
    <form action="https://formspree.io/beckyabrey@hotmail.com"
          method="POST">
      <label>Name: <input type="text" name="name" required></label>
      <label>Your question: <textarea name="name" required></textarea></label>
      <label>Email: <input type="email" name="_replyto" required></label>
      <input type="submit" value="Send">
    </form>
  </header>
</div>
